@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido al Inventario</h1>
    <p>Sistema de gestión de productos y categorías.</p>

    <a asp-controller="Products" asp-action="Index" class="btn btn-primary btn-lg mt-3">
        Ver Productos
    </a>
</div>